
.dash-card-content{
    height:90vh;
    border:2px solid red;
    display: flex;
}
.dash{
    padding: 0;
    
    border:6px solid #cccccc;
    width:98vw;
    height:98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dash-background-card{
    border:2px solid red;
    width:40%;
    height:60%;
    background-image: url("https://res.cloudinary.com/delrn2vxa/image/upload/v1752550392/c257a9595ce3eddd17534d8cb91a80062f10fbff_nuihxu.png");
}
.dash-card{
    border:2px solid blue;
    width:60%;
    height:60%;
    display: flex;
}

.style-text{
    color: #FFBD59;

}
.dash-btn{
    background: #FFBD59;
    width: 123.2699966430664;
height: 44;

}